@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

@import 'variables.scss';
@import 'mixins.scss';


html {
    font-size: 16px;
}


#landing {
    position: relative;
    overflow: hidden;
}

.landing-bg {
    height: 70em;
    width: 56%;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: absolute;
    right: 0;
    z-index: -1;
}

header {
    padding: 1.5em 0;
    .logo__area {
        padding: 0 2.5em;
        @include setFlex(flex, center, space-between, initial);
        .logo {
            h1 {
                @include setFont($robotoslab, 1.65em, 700);
                color: $blue;
                span {
                    position: relative;
                    display: inline-block;
                    color: $matte-black;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 10px;
                        width: 100%;
                        height: 3px;
                        background-color: $blue;
                    }
                    &::first-letter {
                        color: $blue;
                    }
                }
            }
        }
        .mobile-num {
            @include setFont($robotoslab, 1.55em, 500);
            color: $matte-black;
        }
    }
    .links {
        padding: 0 2.5em;
        @include setFlex(flex, center, space-between, initial);
        nav {
            ul {
                li {
                    float: left;
                    margin-right: 2.5em;
                    a {
                        @include setFont($poppins, .8em, 600);
                        color: #fff;
                    }
                }
            }
        }
        .buy-insurance {
            @include btn;
        }
    }
}


section {
    position: relative;
    padding-top: 5.5em;
    &.hero {
        .hero-theme {
            padding: 0 2.5em;
            .title {
                @include setFlex(flex, center, space-between, initial);
                margin-bottom: 2em;
                h1 {
                    @include setFont($robotoslab, 2.5em, 800);
                    line-height: 1.3em;
                    color: $matte-black;
                    span {
                        color: $blue;
                    }
                }
                img {
                    height: 4em;
                }
            }
            .content {
                @include setFont($poppins, .8em, 500);
                line-height: 1.7em;
                color: $matte-black;
            }
        }
        .hero-slider {
            padding-right: 2.5em;
            h1 {
                @include setFont($robotoslab, 2.9em, 700);
                line-height: 1.2em;
                color: #fff;
                text-align: right;
                word-spacing: -2px;  
                span {
                    color: $blue;
                }
            }
            .slider-dots {
                float: right;
                @include setFlex(flex, center, space-between, initial);
                margin-top: 4em;
                .dot {
                    display: block;
                    height: .55em;
                    width: .55em;
                    border-radius: 50%;
                    background-color: $ash;
                    margin-left: .4em;
                    &.active {
                        height: .85em;
                        width: .85em;
                        background-color: $blue;
                    }
                }
            }
        }
    }
    &.slider-carousel {
        .slider-pic {
            overflow: hidden;
        }
        .slider-actions {
            width: 640px;
            padding-right: 2.5em;
            @include setFlex(flex, center, space-between, initial);
            position: absolute;
            .slider-count {
                height: 16.5em;
                width: 17em;
                background-color: $matte-black;
                @include setFlex(flex, center, center, initial);
                .count {
                    display: block;
                    color: #fff;
                    @include setFont($robotoslab, 3.5em, 700);
                    sup {
                        font-size: .38em;
                        font-weight: 800;
                        position: relative;
                        top: -1.2em;
                        left: -0.3em;
                        color: $ash;
                    }
                }
            }
            .slider-line {
                width: 16em;
                height: 0.12em;
                background-color: $ash;
                position: absolute;
                left: 14em;
                .inner {
                    display: block;
                    height: inherit;
                    width: 40%;
                    background-color: $blue;
                }
            }
            .slider-navigation {
                @include setFlex(flex, center, space-between, initial);
                width: 4.8em;
                button {
                    height: 2.2em;
                    width: 2.2em;
                    background-color: $ash;
                    border-radius: 50%;
                    @include setFlex(flex, center, center, initial);
                    svg {
                        height: 1em;
                        color: #fff;
                    }
                }
            }
        }
    }

    &.services {
        position: relative;
        padding: 0 2.5em;
        padding-top: 5.5em;
        padding-bottom: 2em;
        .header {
            @include setFlex(flex, center, space-between, initial);
            margin-bottom: 6em;
            h1.title {
                @include setFont($robotoslab, 2.2em, 800);
                line-height: 1.2em;
                color: $matte-black;
                span {
                    color: $blue;
                }
            }
            .slider-navigation {
                position: relative;
                @include setFlex(flex, center, space-between, initial);
                width: 4.8em;
                button {
                    height: 2.2em;
                    width: 2.2em;
                    background-color: $off-white;
                    border-radius: 50%;
                    @include setFlex(flex, center, center, initial);
                    svg {
                        height: 1em;
                        color: $matte-black;
                    }
                }
                &::before {
                    content: " ";
                    position: absolute;
                    display: block;
                    width: 16em;
                    height: .2em;
                    background-color: $off-white;
                    right: 8em;
                }
            }
        }
        .services_grp {
            .service {
                img {
                    height: 2.7em;
                    margin-bottom: 2em;
                }
                h1 {
                    @include setFont($robotoslab, 1.35em, 800);
                    line-height: 1.2em;
                    color: $matte-black;
                    margin-bottom: .8em;
                    span {
                        color: $blue;
                    }
                }
                p {
                    @include setFont($poppins, .85em, 500);
                    padding-right: 2.5em;
                }
                .services-btn {
                    @include btn;
                    margin-top: 1.2em;
                }
                &.l__service {
                    h1 {
                        line-height: 1.4em;
                    }
                }
            }
        }
    }

    &.about {
        height: 800px;
        width: 100%;
        overflow: hidden;
        .about-bg {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 700px;
            background-image: url('../assets/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .about-img {
            position: absolute;
            top: 14em;
            left: -6em;
            width: 35em;
        }
        .about-content {
            padding-top: 6em;
            padding-right: 2.5em;
            h1.title {
                @include setFont($robotoslab, 2.2em, 800);
                line-height: 1.2em;
                color: #fff;
                margin-bottom: 1em;
                span {
                    color: $blue;
                }
            }
            p {
                @include setFont($poppins, .85em, 400);
                color: #fff;
                line-height: 1.6em;
                margin-bottom: 2em;
            }
            .btn {
                @include btn;
                display: inline-block;
                margin-top: 5em;
            }
        }
    }

    &.achivements {
        position: relative;
        padding-left: 2.5em;
        padding-bottom: 6em;
        .header {
            // padding: 0 2.5em;
            @include setFlex(flex, center, space-between, initial);
            margin-bottom: 4em;
            h1.title {
                @include setFont($robotoslab, 2.2em, 800);
                line-height: 1.2em;
                color: $matte-black;
                span {
                    color: $blue;
                }
            }
        }
        .achivements_grp {
            .achivement {
                .head {
                    @include setFlex(flex, center, initial, initial);
                    font-family: $robotoslab;
                    margin-bottom: 1.6em;
                    span {
                        color: $blue;
                        font-weight: 800;
                    }
                    .main {
                        font-size: 2.7em;
                    }
                    .sub {
                        font-size: 1.1em;
                        margin-left: .8em;
                    }
                }
                h1 {
                    @include setFont($robotoslab, 1.25em, 800);
                    line-height: 1.2em;
                    color: $matte-black;
                    margin-bottom: .8em;
                }
                p {
                    @include setFont($poppins, .95em, 400);
                    padding-right: 3em;
                }
            }
        }
    }
}


.ash-backdrop {
    position: absolute;
    z-index: -9;
    top: 45em;
    left: 0;
    height: 75em;
    width: 68.5%;
    background-color: $off-white;
}

footer {
    position: relative;
    border-top: 2px solid $off-white;
    margin-bottom: 3em;
    .header-area {
        padding: 0 2.5em;
        padding-top: 2.5em;
        @include setFlex(flex, center, space-between, initial);
        .title {
            @include setFlex(flex, center, initial, initial);
            h1 {
                @include setFont($robotoslab, 1.8em, 700);
                color: $matte-black;
                span {
                    color: $blue;
                }
            }
            .call-ico {
                margin-left: 1em;
                height: 1.8em;
                width: 1.8em;
                border: 3px solid $blue;
                border-radius: 50%;
                @include setFlex(flex, center, center, initial);
                img {
                    height: .7em;
                }
            }
        }
        .btn {
            @include btn;
        }
    }
    .links-area {
        padding: 0 2.5em;
        margin-top: 2.5em;
        @include setFlex(flex, flex-start, space-between, initial);
        .footer-links {
            @include setFlex(flex, flex-start, space-between, initial);
            .link-grp {
                margin-right: 4em;
                .title {
                    display: block;
                    @include setFont($robotoslab, 1em, 700);
                    margin-bottom: 1em;
                }
                ul{
                    li {
                        margin-bottom: -0.1em;
                         a{
                             @include setFont($poppins, .8em, 400);
                             color: $light-text;
                         }
                    }
                }
            }
        }
        .contact {
            @include setFlex(flex, center, space-between, initial);
            .contact-data {
                text-align: right;
                margin-right: 2em;
                h2 {
                    @include setFont($robotoslab, 1em, 600);
                    margin-bottom: 1em;
                }
                .contact-grp {
                    span {
                        display: block;
                        @include setFont($poppins, .85em, 400);
                        margin-bottom: .25em;
                        &.name {
                            text-transform: capitalize;
                            font-weight: 600;
                            color: $blue;
                        }
                        &.location {
                            text-transform: capitalize;
                            color: $light-text;
                        }
                        &.mobile, &.email {
                            color: $matte-black;
                            font-weight: 500;
                        }
                    }
                }
            }
            .avatar {
                height: 8em;
                width: 8em;
                border-radius: 50%;
                overflow: hidden;
                img {

                }
            }
        }
    }
    .copyright-area {
        padding: 0 2.5em;
        margin-top: 6em;;
        .grp {
            @include setFlex(flex, center, space-between, initial);
            .logo {
                h1 {
                    @include setFont($robotoslab, 1.65em, 700);
                    color: $blue;
                    span {
                        position: relative;
                        display: inline-block;
                        color: $matte-black;
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 10px;
                            width: 100%;
                            height: 3px;
                            background-color: $blue;
                        }
                        &::first-letter {
                            color: $blue;
                        }
                    }
                }
            }
            .copyright {
                color: $light-text;
                @include setFont($poppins, .9em, 400);
                a {
                    color: $matte-black;
                    font-weight: 600;
                }
            }
        }
        .social-links {
            @include setFlex(flex, center, space-between, initial);
            float: right;
            margin-top: .4em;
            span {
                @include setFont($poppins, .9em, 400);
                color: $light-text;
            }
            ul {
                li {
                    float: left;
                    margin-left: 1em;
                    a {
                        img {
                            height: 1.1em;
                        }
                    }
                }
            }
        }
    }
}

