@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
html {
  font-size: 16px;
}

#landing {
  position: relative;
  overflow: hidden;
}

.landing-bg {
  height: 70em;
  width: 56%;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  position: absolute;
  right: 0;
  z-index: -1;
}

header {
  padding: 1.5em 0;
}
header .logo__area {
  padding: 0 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
}
header .logo__area .logo h1 {
  font-family: "Roboto Slab", serif;
  font-size: 1.65em;
  font-weight: 700;
  color: #105de2;
}
header .logo__area .logo h1 span {
  position: relative;
  display: inline-block;
  color: #1a1c20;
}
header .logo__area .logo h1 span::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  background-color: #105de2;
}
header .logo__area .logo h1 span::first-letter {
  color: #105de2;
}
header .logo__area .mobile-num {
  font-family: "Roboto Slab", serif;
  font-size: 1.55em;
  font-weight: 500;
  color: #1a1c20;
}
header .links {
  padding: 0 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
}
header .links nav ul li {
  float: left;
  margin-right: 2.5em;
}
header .links nav ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
}
header .links .buy-insurance {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  background-color: #105de2;
  color: #fff;
  padding: 0.6em 1.8em;
  border-radius: 4px;
}

section {
  position: relative;
  padding-top: 5.5em;
}
section.hero .hero-theme {
  padding: 0 2.5em;
}
section.hero .hero-theme .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  margin-bottom: 2em;
}
section.hero .hero-theme .title h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.3em;
  color: #1a1c20;
}
section.hero .hero-theme .title h1 span {
  color: #105de2;
}
section.hero .hero-theme .title img {
  height: 4em;
}
section.hero .hero-theme .content {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.7em;
  color: #1a1c20;
}
section.hero .hero-slider {
  padding-right: 2.5em;
}
section.hero .hero-slider h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.9em;
  font-weight: 700;
  line-height: 1.2em;
  color: #fff;
  text-align: right;
  word-spacing: -2px;
}
section.hero .hero-slider h1 span {
  color: #105de2;
}
section.hero .hero-slider .slider-dots {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  margin-top: 4em;
}
section.hero .hero-slider .slider-dots .dot {
  display: block;
  height: 0.55em;
  width: 0.55em;
  border-radius: 50%;
  background-color: #4e515e;
  margin-left: 0.4em;
}
section.hero .hero-slider .slider-dots .dot.active {
  height: 0.85em;
  width: 0.85em;
  background-color: #105de2;
}
section.slider-carousel .slider-pic {
  overflow: hidden;
}
section.slider-carousel .slider-actions {
  width: 640px;
  padding-right: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  position: absolute;
}
section.slider-carousel .slider-actions .slider-count {
  height: 16.5em;
  width: 17em;
  background-color: #1a1c20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
section.slider-carousel .slider-actions .slider-count .count {
  display: block;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 3.5em;
  font-weight: 700;
}
section.slider-carousel .slider-actions .slider-count .count sup {
  font-size: 0.38em;
  font-weight: 800;
  position: relative;
  top: -1.2em;
  left: -0.3em;
  color: #4e515e;
}
section.slider-carousel .slider-actions .slider-line {
  width: 16em;
  height: 0.12em;
  background-color: #4e515e;
  position: absolute;
  left: 14em;
}
section.slider-carousel .slider-actions .slider-line .inner {
  display: block;
  height: inherit;
  width: 40%;
  background-color: #105de2;
}
section.slider-carousel .slider-actions .slider-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  width: 4.8em;
}
section.slider-carousel .slider-actions .slider-navigation button {
  height: 2.2em;
  width: 2.2em;
  background-color: #4e515e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
section.slider-carousel .slider-actions .slider-navigation button svg {
  height: 1em;
  color: #fff;
}
section.services {
  position: relative;
  padding-top: 6.5em;
  padding-bottom: 6.5em;
}
section.services .header {
  padding: 0 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  margin-bottom: 6em;
}
section.services .header h1.title {
  font-family: "Roboto Slab", serif;
  font-size: 2.2em;
  font-weight: 800;
  line-height: 1.2em;
  color: #1a1c20;
}
section.services .header h1.title span {
  color: #105de2;
}
section.services .header .slider-navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  width: 4.8em;
}
section.services .header .slider-navigation button {
  height: 2.2em;
  width: 2.2em;
  background-color: #edeff3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
section.services .header .slider-navigation button svg {
  height: 1em;
  color: #1a1c20;
}
section.services .header .slider-navigation::before {
  content: " ";
  position: absolute;
  display: block;
  width: 16em;
  height: 0.2em;
  background-color: #edeff3;
  right: 8em;
}
section.services .services_grp {
  padding: 0 2.5em;
}
section.services .services_grp .service img {
  height: 2.7em;
  margin-bottom: 2em;
}
section.services .services_grp .service h1 {
  font-family: "Roboto Slab", serif;
  font-size: 1.35em;
  font-weight: 800;
  line-height: 1.2em;
  color: #1a1c20;
  margin-bottom: 0.8em;
}
section.services .services_grp .service h1 span {
  color: #105de2;
}
section.services .services_grp .service p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  padding-right: 2.5em;
}
section.services .services_grp .service .services-btn {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  background-color: #105de2;
  color: #fff;
  padding: 0.6em 1.8em;
  border-radius: 4px;
  margin-top: 1.2em;
}
section.services .services_grp .service.l__service h1 {
  line-height: 1.4em;
}
section.about {
  height: 800px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 12em;
}
section.about .about-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 700px;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section.about .about-img {
  position: absolute;
  top: 14em;
  left: -6em;
  width: 35em;
}
section.about .about-content {
  padding-top: 6em;
  padding-right: 2.5em;
}
section.about .about-content h1.title {
  font-family: "Roboto Slab", serif;
  font-size: 2.2em;
  font-weight: 800;
  line-height: 1.2em;
  color: #fff;
  margin-bottom: 1em;
}
section.about .about-content h1.title span {
  color: #105de2;
}
section.about .about-content p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: #fff;
  line-height: 1.6em;
  margin-bottom: 2em;
}
section.about .about-content .btn {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  background-color: #105de2;
  color: #fff;
  padding: 0.6em 1.8em;
  border-radius: 4px;
  display: inline-block;
  margin-top: 5em;
}

.ash-backdrop {
  position: absolute;
  z-index: -9;
  top: 45em;
  left: 0;
  height: 82em;
  width: 70%;
  background-color: #edeff3;
}

/*# sourceMappingURL=main.css.map */
