
@import 'variables.scss';
@import 'mixins.scss';
// Responsive Fixes
// Desktop Breakpoints

@media (max-width: 1600px) { 
    .ash-backdrop {
        width: 72%;
    }
}

@media (max-width: 1536px) { 
    .ash-backdrop {
        width: 74%;
    }
}

@media (max-width: 1440px) { 
    .ash-backdrop {
        width: 74.5%;
    }
}

@media (max-width: 1366px) { 
    .ash-backdrop {
        width: 76%;
    }
}

@media (max-width: 1280px) { 
    .ash-backdrop {
        width: 78%;
    }
}

// Tablet Breakpoints

@media (max-width: 1024px) { 
    .ash-backdrop {
        width: 78%;
        top: 40em;
        height: 60em;
    }

    header {
        .logo__area {
            padding-right: 0;
            .mobile-num {
                @include setFont($robotoslab, 1.25em, 500);
            }
        }
        .links {
            justify-content: flex-end;
            nav {
                display: none;
            }
        }
    }

    section {
        &.hero {
            .hero-theme {
                .title {
                    margin-bottom: 1.4em;
                    h1 {
                        font-size: 2.2em;
                    }
                }
            }
            .hero-slider {
                h1 {
                    font-size: 2.4em;
                }
            }
        }
        &.slider-carousel {
            padding-top: 3em;
            .slider-actions {
                width: initial;
                .slider-count {
                    height: 13em;
                    width: 13em;
                    .count {
                        font-size: 3em;
                    }
                }
                .slider-line {
                    left: 11em;
                    width: 17.8em;
                }
                .slider-navigation {
                    position: relative;
                    bottom: 2em;
                    left: 11em;
                }
            }
        }
        &.about {
            height: 550px;
            padding-top: 1.5em;
            .about-img {
                display: none;
            }
            .about-content {
                padding-left: 2.5em;
                padding-top: 3em;
                .btn {
                    margin-top: 4em;
                }
            }
        }
    }

    footer {
        margin-bottom: 1.5em;
        .links-area {
            .footer-links {
                .link-grp {
                    margin-right: 3em;
                }
            }
        }
        .copyright-area {
            .social-links {
                span {
                    display: none;
                }
            }
        }
    }
}